body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
  }
  h1 {
    font-family: Arial, sans-serif;
    color: #29e603;
    background-color: #ffffff;
  }
  p {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
  }